.dynamo-panel {
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 6px;
  margin-top: 10px;
  background-color: #1a1a1a;
  color: #eee;
}

.dynamo-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.dynamo-recharge {
  margin-left: 10px;
  padding: 3px 6px;
  background-color: #ffaa00;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
}
